<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="lsep"/>
            <setting label="32003" type="bool" id="vs-watch" default="false"/>
            <setting label="32004" type="bool" id="vs-rate" default="false"/>
        <setting label="32002" type="lsep"/>
            <setting label="32003" type="bool" id="sv-watch" default="false"/>
            <setting label="32004" type="bool" id="sv-rate" default="false"/>

        <setting type="number" id="last_call" default="1543210000" visible="false"/>
    </category>
</settings>